<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>{{ .Name }}</string>
    <key>CFBundleDisplayName</key>
    <string>{{ .Name }}</string>
    <key>CFBundleIdentifier</key>
    <string>{{ .BundleID }}</string>
    <key>CFBundleVersion</key>
    <string>{{ .Version }}</string>
    <key>CFBundleShortVersionString</key>
    <string>{{ .Version }}</string>
    <key>CFBundleExecutable</key>
    <string>{{ .ExecutableName }}</string>
    <key>CFBundleIconFile</key>
    <string>{{ .IconName }}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
